.cart {
    margin: 40px;
    padding: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px #0d67ff;

    display: flex;
    justify-content: space-between;
}

.cartText {

}

.cartText h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.cartText p {
    max-width: 700px;
    max-height: 50px;
}

.cart img {
    max-width: 300px;
    border: 2px solid rgb(89, 59, 3);
    border-radius: 5px;
}