.main {
    min-height: 60vh;
    padding: 140px 0 100px;
    background-color: #777;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.textInfo {
    /* max-width: 500px; */
    margin-right: 60px;
}

.textInfo h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.textInfo p {

}